In [4]:
import numpy as np
import pandas as pd

In [5]:
columns = ['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width', 'Class_Lable']
df = pd.read_csv('iris.data',names = columns)

In [6]:
df.describe()

       Sepal Length  Sepal Width  Petal Length  Petal Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
data = df.values
X = data[:,0:4]
Y = data[:,4]

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.40,random_state=42,stratify=Y)

In [16]:
from sklearn.neighbors import RadiusNeighborsClassifier
model = RadiusNeighborsClassifier()
model.fit(X_train,Y_train)
pred = model.predict(X_test)

In [17]:
from sklearn.metrics import accuracy_score
print("Accuracy",accuracy_score(Y_test,pred)*100)

Accuracy 95.0

In [ ]:
from sklearn.